.logo {
  display: block;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #0c86ef;
  border-radius: 50%;
}

.mainTitle {
  display: flex;
  margin: 0;

  color: #0c86ef;
  font-size: 32px;
  text-align: center;
}
