.button {
  align-self: center;
  max-width: 100%;

  padding: 8.5px;

  background-color: #0c86ef;
  border: none;
  border-radius: 4px;

  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
