.link {
  display: inline-block;
  text-decoration: none;
  padding: 20px;

  font-weight: 500;
  font-size: 20px;
  color: #2a363b;
}

.activeLink {
  composes: link;
  color: #9d2658;
}

@media screen and (min-width: 740px) {
  .container {
    margin-left: 44px;
  }
}
