.container {
  display: flex;
  justify-content: center;
}

.formLabel {
  display: block;
  max-width: 100%;
  font-weight: 500;
}

.formControl {
  display: block;
  width: 300px;
  height: 24px;
  padding: 6px 12px;

  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media screen and (max-width: 740px) {
  .formLabel {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 740px) {
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formLabel {
    margin-right: 20px;
  }
}
