/* ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list {
  margin-top: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item:not(:last-child) {
  margin-bottom: 20px;
} */

/* .button {
  max-width: 100%;
  padding: 10px;
  margin-left: 20px;

  background-color: #0c86ef;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
} */
